<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="get"action="/update/{{ data.id}}">
		<label>Name</label>
		<br>
		<input type="text"name="name" value="{{data.name }}"><br>
		<label>Email</label>
		<br>
		<input type="email"name="email" value="{{email.name }}"><br>
		<label>Mobile</label>
		<input type="number"name="mobie" value="{{data.mobile }}"><br>
		<label>Salary</label>
		<input type="number"name="salary" value="{{data.salary }}"><br><br>
		<input type="Submit"name="sub" value="update">
	</form>
</body>
</html> 